*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;

}


  

html,body{
height: 100%;
width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;


}


#card{

height: 400px;
width: 300px;
background-color: #fff;
border-radius:25px;
padding: 20px;
text-align: center;

}
#card img{

    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    
}
#card h1{
    margin: 10px 0px;
   
}
#card h5{
    font-size: 25px;
    color: red;
    margin: 8px;
}
#card button{
    font-weight: 800;
    background-color: cadetblue;
    color: #fff;
padding: 12px 20px;
border-radius: 5px;
border: none;
margin: 5px;
cursor: pointer;

}
#card #remove{
    background-color:antiquewhite;
    color: black;
}






















